@model DetailViewModel

<p>
	@Model.NomScientifique
</p>

<p>
	@Model.NomCommun
</p>

<p>
	@Model.Habitat
</p>
<p>
	@{
		<a href="https://inpn.mnhn.fr/espece/cd_nom/60585">Lien vers le site de INPN</a>
	}
</p>