@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
<a href="Edition/Creation">Formulaire d'observation</a>
</p>

<p>
<a href="Especes/Create">Le formulaire de l'espèce en question</a>
</p>

<p>
    <a href="Especes/Detail"></a>
</p>

<p>
    <a href="Especes/Detail/42">Le détail de l'espèce avec l'id en question</a>
</p>

<p>
    <a href="Especes/Detail?nomsci=Vulpes%20vulpes">Le détail de l'espèce avec son nom scientique</a>
</p>

<p>
    <a href="Especes/List">La liste des espèces</a>
</p>


